@import "tailwindcss";

body {
  overflow-x: hidden;
  /* background-color: #f3f4f6; Tailwind gray-100 */
}

.input {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  outline: none;
}

.input:focus {
  border-color: #3b82f6;
}

.error {
  color: #dc2626;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}
